body{
    margin: 10px; 
    background-color:rgb(39, 47, 65);
}

.wheel{
    display:block; 
    margin-left: auto; 
    margin-right: auto; 
    width:50%;
}

.startSpin{
    display:block; 
    margin-left:auto; 
    margin-right: auto; 
    width:50%;
}

.options{
    display: block; 
    margin-left:auto; 
    margin-right:auto;
    width:50%;
}