html{
    margin:0px; 
    height:100%;
    width:100%;
}

body{
    background-color: rgb(56, 54, 54);
    height: 100%;
}

.btn-success{
    font-size: 2em;
    margin-top: 1em;
    width: 6em;
}

.options{
    font-size: 30px;
}

h1{
    font-size: 50px;
}

.navs{
    color: white; 
}

.navbar-expand-lg{
    height: 75px;
}
.navbar-nav > li{
    padding-left: 30px;
    padding-right: 30px; 
}

/* Form */
.filter label{
    font-size:1.5em;
    color: white;
}
.filter{
    text-align:center;
}
