{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YelpERS</title>
    <link rel="stylesTheheet" type="text/css" href="{% static 'css/main.css' %}" >
</head>
<body>
    <div class = appName> 
        <h1>Roulette Wheel</h1>
    </div>
    <div class = wheel>
        <img src="{% static 'roulette/img/wheel.jpg' %}" alt="Wheel Here">
    </div>
    <div class = startSpin>
        <p>SPIN</p>
        <p>select location</p>
    </div>
    <div class=options>
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">results</a></li>
    </div>
    
    <!--JavaScript-->
    <script
    <!-- src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"> -->
    </script>    <div class = appName> 
        <h1>Roulette Wheel</h1>
    </div>
    <div class = wheel>
        <img src="{% static 'roulette/img/wheel.jpg' %}" alt="Wheel Here">
    </div>
    <div class = startSpin>
        <p>SPIN</p>
        <p>select location</p>
    </div>
    <div class=options>
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">results</a></li>
    </div>
    
    <!--JavaScript-->
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"> 
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtxN1bbjqYN2LE8fX5TLxF7wZpXmQMuvk&callback=initMap">
    </script>
<script src="{% static 'js/location.js' %}"></script>
</body>
</html>