{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YelpERS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >
</head>
<body>
    <div class = appName> 
        <h1>Roulette Wheel</h1>
    </div>
    <div class = wheel>
        <img src="{% static 'roulette/img/wheel.jpg' %}" alt="Wheel Here">
    </div>
    <div class = startSpin>
        <p>SPIN</p>
        <p>select location</p>
    </div>
    <div class=options>
        <li><a href="#">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">results</a></li>
    </div>
</body>
</html>