{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <title>YelpERS</title>
</head>
<body>
    
    <!-- Navigation Bar --> 
    <!-- <nav class = "navbar-expand-md navbar-light bg-darkd"> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark navs">
        <div class="navbar-brand appName">
            <h1>Roulette Wheel</h1>
        </div>
            <ul class="nav navbar-nav ml-auto options">
                <li class="nav-item">
                    <a class="nav-link" href='#'>home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='#'>about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='#'>results</a>
                </li>
            </ul>
    </nav>

    <div class="text-center button-wrapper">
        <div class = "wheel" id="wheel">
            <img src="{% static 'roulette/img/wheel.jpg' %}" alt="Wheel Here">
        </div>
        <div class = getLoc>
            <button type="button" id="buttonLoc" class="btn btn-success">Get Location</button>
        </div>
        <div class = startSpin>
            <button type="button" id="buttonStr" class="btn btn-success">Spin Wheel</button>
        </div>
    </div>

    <!-- JavaScript-->
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"> 
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtxN1bbjqYN2LE8fX5TLxF7wZpXmQMuvk&callback=initMap">
    </script> 
    <script src="{% static 'js/locations.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'js/wheel.js' %}"></script>
</div>
</html> 